{{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete this beat?");'}}) }}
    <button class="btn btn-outline-danger">
        <i class="fas fa-trash"></i> Delete
    </button>
{{ form_end(delete_form) }} 